<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h2>create a new listing</h2>
      <form method="post" action="/listings">
        <input type="text" name="title" placeholder="enter a title">
        <br>
        <input type="text" name="description" placeholder="enter a description">
        <br>
        <input type="text" name="image" placeholder="enter a image">
        <br>
        <input type="number" name="price" placeholder="price">
        <br>
        <input type="text" name="location" placeholder="location">
        <br>
        <input type="text" name="country" placeholder="enter a country">
        <br>
        <button>Submit</button>

      </form>
    
</body>
</html>